.App {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 100px ;

}

.App :nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.App :nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.App :nth-child(3) {
  grid-column: 3 /3;
  grid-row: 1 / 2;
}
.App :nth-child(4) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.App :nth-child(5) {
  grid-column: 3 / 3;
  grid-row: 2 / 3;
}
.App :nth-child(6) {
  grid-column: 1 / 2;
  grid-row: 3 / 3;
}
.App :nth-child(7) {
  grid-column: 2 / 3;
  grid-row: 3 / 3;
}
.App :nth-child(8) {
  grid-column: 3 / 3;
  grid-row: 3 / 3;
}

.item {
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  border: 1px #ccc solid;
}
.bg-yellow {
  background-color: yellow;
}
.bg-green {
  background-color: green;
}
